@model CustomViewViewModel
<h2 class="text-primary" style="text-align: center; color: blue; background-color: rgb(174, 181, 181); border: 2px 4px solid; border-color: black; border-radius: 5px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    Welcome to Software Development Examination
</h2>
<h3 style="font-size: 15px; text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">View Number: @ViewBag.ViewNumber</h3>
<h4 style="color: rgb(240, 233, 11);text-decoration: underline; margin-bottom: 10px;">Questions and Options</h4>
<form method="post" asp-action="CalculateResult">
    @for (var i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions[i];
        <div class="question" style="font-family: 'Calibri';">
            <h4>@(i + 1). @question.Text</h4>
            <ul class="list-unstyled">
                @for (var j = 0; j < question.Answers.Count; j++)
                {
                    var option = question.Answers[j];
                    <li>
                        <label>
                            <input type="hidden" name="viewModel.Questions[@i].Id" value="@question.Id" />
                            <input type="radio" name="viewModel.SubmittedQuestions[@i].QuestionId" value="@question.Id" /> @option.Text
                        </label>
                    </li>
                }
            </ul>
            <!-- Add a hidden input for the CorrectOptionIndex -->
            <input type="hidden" name="viewModel.SubmittedQuestions[@i].CorrectOptionIndex" value="0" />

        </div>
    }

    <input type="hidden" name="viewModel.ViewNumber" value="@Model.ViewNumber" />
    @if (User.IsInRole("Admin"))
    {
        <button asp-controller="Quiz" asp-action="BackToAddQuestions">Add More Questions</button>
    }
    <button type="submit" style="background-color: green; color: white; border: 2px 2px solid; border-color: black; border-radius: 5px;">Submit</button>
</form>
@section scripts{
    <script>
        $(document).ready(function () {
            $("input[type='radio']").change(function () {
                var index = $(this).closest("li").index();
                $(this).closest(".question").find("input[type='hidden']").val(index);
            });
        });
    </script>
}







