@model CustomViewViewModel
<h2>Hello Welcome to Support Role Examination</h2>
<h3>View Number: @ViewBag.ViewNumber</h3>
<h4>Questions and Options</h4>
<form method="post" asp-action="CalculateResult">
    @for (var i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions[i];
        <div class="question">
            <h4>@question.Text</h4>
            <ul>
                @for (var j = 0; j < question.Answers.Count; j++)
                {
                    var option = question.Answers[j];
                    <li>
                        <label>
                            <input type="hidden" name="viewModel.Questions[@i].Id" value="@question.Id" />
                            <input type="radio" name="viewModel.SubmittedQuestions[@i].QuestionId" value="@question.Id" />@option.Text
                        </label>
                    </li>
                }
            </ul>
            <!-- Add a hidden input for the CorrectOptionIndex -->
            <input type="hidden" name="viewModel.SubmittedQuestions[@i].CorrectOptionIndex" value="0" />

        </div>
    }

    <input type="hidden" name="viewModel.ViewNumber" value="@Model.ViewNumber" />
    <button type="submit">Submit</button>
</form>
@section scripts{
<script>
    $(document).ready(function () {
        $("input[type='radio']").change(function () {
            var index = $(this).closest("li").index();
            $(this).closest(".question").find("input[type='hidden']").val(index);
        });
    });
</script>
}







@*<form asp-action="CalculateResult" method="post">
    @for (var i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions[i];
            <div class="question">
                <h4>@question.Text</h4>
                <ul>
                @for (var j = 0; j < question.Answers.Count; j++)
                {
                    var option = question.Answers[j];
                
                            <li>
                                <label>
                            <input type="checkbox" name="viewModel.Questions[@i].Id" value="@question.Id" />
                            @option.Text
                                </label>
                            </li>
                    
                }
                </ul>
            </div>
    }

    <input type="hidden" name="viewModel.ViewNumber" value="@Model.ViewNumber" />
   <button type="submit">Submit</button>
</form>*@